<div class="row" ng-repeat="p in ::pagesAndPost | where: {'slug': slugParam}">
   
    <div class="card-image center">
        <featured-media media-id="{{p.featured_media}}" media-size="full"></featured-media>
    </div>
    
    <h1 ng-bind-html="p.title.rendered"></h1>
    
    <div class="flow-text" bind-html-compile="p.content.rendered"></div>
    
</div>

<div class="row" ng-if="is404">
   
    <h1>Page Not Found</h1>
    
    <p class="flow-text">Sorry, something went wrong</p>
    
</div>