<div id="banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container" ng-class="{'right': wpPosition == 'right', 'left': wpPosition == 'left', 'center': wpPosition == 'cemter'}">
            <br>
            <br>
            <br>
            <br>
            <div class="card-panel see-through">
            <h2 class="header center">{{blog.name}}</h2>
            <div class="row center">
                <h5 class="header col s12 light">{{blog.description}}</h5>
            </div>
            </div>


        </div>
    </div>
    <div class="parallax"><img lazy-img="{{wpSrc}}" alt="background img 1" /></div>
</div>