<li ng-repeat="hm in headerMenu" ng-if="headerMenu != 0" nav-dropdown-button>
    <a ng-href="{{hm.url}}" ng-class="{'nav-dropdown-button' : hm.children != 0}" data-beloworigin="true" data-hover="true" data-activates='nav-dropdown-{{hm.ID}}' ng-bind-html="hm.title">#</a>
    <ul id="nav-dropdown-{{hm.ID}}" class="dropdown-content" ng-if="hm.children != 0">
        <li ng-repeat="c in ::hm.children">
            <a ng-href="{{c.url}}" ng-bind-html="c.title" ng-if="!c.classes.length"></a>
            <a ui-sref="/({lang: c.classes.substr(id.length - 2)})" ng-click="reloadLocation();" class="{{c.classes}}" ng-bind-html="c.title" ng-if="c.classes.length > 1"></a>
        </li>
    </ul>
</li>