<div class="row">
   
    <content-search-posts></content-search-posts>

    <apt-banner-image></apt-banner-image>

    <single-page page-slug="startseite"></single-page>

    <apt-image wp-header="Header 2" wp-Text="A description Text" wp-position="left"></apt-image>

    <single-post post-slug="angularpressthemeapp"></single-post>

    <apt-image wp-header="Header 3" wp-Text="A description Text"></apt-image>

    <posts-by-category category-slug="'Referenzen'"></posts-by-category>

    <apt-image wp-header="Header 4" wp-Text="A description Text" wp-position="left"></apt-image>
    
</div>